<a href="https://colab.research.google.com/github/lovishkanther11/NLP-assignments-J026/blob/home-work/Spacy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import re
import gzip
import nltk
import spacy

In [0]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz" , lines=True)

In [0]:
df=df.head(10)

In [4]:
df.shape

(10, 9)

In [0]:
spcy=spacy.load("en_core_web_sm")

In [0]:
def sp(txt):
    d = {}
    sentence = spcy(txt)
    token = []
    lemmatize = []
    postag = []
    deppar = []
    nouns = []

    for i in sentence:
        token.append(i.text)
        lemmatize.append(i.lemma_)
        postag.append(i.pos_)
        deppar.append(i.dep_)

    for n in sentence:
        nouns.append(n.text)

    d['Tokens'] = token
    d['Lemmatizer'] = lemmatize
    d['Pos Tag'] = postag
    d['Dependancy Parser'] = deppar
    d['Nouns'] = nouns

    return d

In [13]:
df['Spcy']=df['reviewText'].apply(sp)
df.head()

       reviewerID  ...                                               Spcy
0  A32T2H8150OJLU  ...  {'Tokens': ['I', 'bought', 'my', 'first', 'HP1...
1  A3MAFS04ZABRGO  ...  {'Tokens': ['WHY', 'THIS', 'BELATED', 'REVIEW'...
2  A1F1A0QQP2XVH5  ...  {'Tokens': ['I', 'have', 'an', 'HP', '48GX', '...
3   A49R5DBXXQDE5  ...  {'Tokens': ['I', ''ve', 'started', 'doing', 'm...
4  A2XRMQA6PJ5ZJ8  ...  {'Tokens': ['For', 'simple', 'calculations', '...

[5 rows x 10 columns]